/****** general styling *********/

h2{
    color: #4aaaa5;
}

hr {
    background-color: #a7a6a6;
    border: none;
    height: 2px;
}

p{
    overflow-wrap: normal;
}

/****** header *********/

#name{
    background-color: #4aaaa5;
    color: white;
    float: left;
    font-size: 20px;
    left: 240px;
    margin: 0px;
    padding: 20px;
    position: relative;
    text-align: center;
    width: 110px;
    z-index: 3;
}


/****** nav *********/

nav {
    background-color: #ffffff;
    list-style-type: none;
    margin: 0px;
    overflow: hidden;
    position: relative;
    top: 0px;
}

ul {
    position: relative;
    right: 240px;
    width: 300px;
    height: 25px;
    top: 5px;
    list-style-type: none;
    overflow: hidden;
    background-color: #ffffff;
    margin: 0px;
    padding-bottom: 20px;
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    border-right-color: darkgray;
    float: right;
}

li a:hover {
    background-color: lightgray;
}


/****** main content *********/

.portfolio-work{
    height: 400px;
    margin: 20px;
    width: 400px;
}

.wrapper{
    height:100%; 
    margin:0 auto;
    margin-top: 5px;
    max-width:960px;
    position: relative;
    width:100%;
}

#content{
    background-color: #ffffff;
    color: #777777;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    position: relative;
}

#headshot{
    height: 200px;
}


/****** footer *********/

.footer {
    background-color: #777777;
    border-top: 5px solid #4aaaa5;
    bottom: 0;
    color: white;
    left: 0;
    position: fixed;
    text-align: center;
    width: 100%;
}